<div *ngIf="isChatOpen" class="chat-container">
  <div class="chat-header" *ngIf="showChat">
    <span>Chatbot 1.0</span>
    <button class="minimize-button" (click)="minimizeChat()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        fill="white"
      >
        <path
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        />
      </svg>
    </button>
    <button class="close-button" (click)="closeChat()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          fill="white"
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </button>
  </div>

  <div class="chat-body" *ngIf="showChat" #chatBody>
    <div class="chat-day">
      {{ currentDay | date : "fullDate" }}
    </div>
    <div *ngFor="let message of messages">
      <div
        class="message-wrapper"
        [ngClass]="{
          'align-right': message.sender === 'You',
          'align-left': message.sender === 'Bot'
        }"
      >
        <div
          class="message-container"
          [ngClass]="message.sender === 'You' ? 'user-message' : 'bot-message'"
        >
          <div class="message-text">{{ message.text }}</div>

          <!-- Quick Reply Buttons inside Bot Messages -->
          <div *ngIf="message.isButtonGroup" class="quick-reply-buttons">
            <button
              *ngFor="let btn of message.buttons"
              (click)="handleButtonClick(btn.payload, btn.title)"
            >
              {{ btn.title }}
            </button>
          </div>
        </div>
      </div>

      <!-- Bot image -->
      <div *ngIf="message.image" class="bot-image">
        <img [src]="message.image" alt="Bot image" />
      </div>
    </div>

    <!-- Typing indicator -->
    <div *ngIf="isTyping" class="typing-indicator">
      <span></span><span></span><span></span>
    </div>
  </div>

  <div class="chat-footer" *ngIf="showChat">
    <input
      type="text"
      [(ngModel)]="userMessage"
      placeholder="Type your message..."
      (keydown.enter)="sendMessage()"
    />
    <button (click)="sendMessage()">Send</button>
  </div>

  <app-feedback-form
    *ngIf="showFeedbackForm"
    (feedbackComplete)="onFeedbackComplete()"
  ></app-feedback-form>
</div>
