<div *ngIf="isChatOpen" class="chat-container">
  <div class="chat-header" *ngIf="showChat">
    <img
      src="assets/images/avatar.png"
      alt="Assistant Avatar"
      class="chat-avatar"
    />
    <span>Chat with Assistant</span>
    <button (click)="closeChat()">×</button>
  </div>
  <app-consent
    *ngIf="showConsentDialog"
    [chatbotVersion]="'Chatbot 1'"
    (accepted)="onConsentAccepted()"
  ></app-consent>
  <div class="chat-body" *ngIf="showChat">
    <div class="chat-day">
      {{ currentDay | date : "fullDate" }}
    </div>
    <div *ngFor="let message of messages">
      <div
        class="message-wrapper"
        [ngClass]="{
          'align-right': message.sender === 'You',
          'align-left': message.sender === 'Bot'
        }"
      >
        <div
          class="message-container"
          [ngClass]="message.sender === 'You' ? 'user-message' : 'bot-message'"
        >
          <div class="message-text">{{ message.text }}</div>

          <!-- Quick Reply Buttons inside Bot Messages -->
          <div *ngIf="message.isButtonGroup" class="quick-reply-buttons">
            <button
              *ngFor="let btn of message.buttons"
              (click)="handleButtonClick(btn.payload, btn.title)"
            >
              {{ btn.title }}
            </button>
          </div>
        </div>
      </div>

      <!-- Bot image -->
      <div *ngIf="message.image" class="bot-image">
        <img [src]="message.image" alt="Bot image" />
      </div>
    </div>

    <!-- Typing indicator -->
    <div *ngIf="isTyping" class="typing-indicator">
      <span></span><span></span><span></span>
    </div>
  </div>

  <div class="chat-footer" *ngIf="showChat">
    <input
      type="text"
      [(ngModel)]="userMessage"
      placeholder="Type your message..."
    />
    <button (click)="sendMessage()">Send</button>
  </div>

  <app-feedback-form
    *ngIf="showFeedbackForm"
    (feedbackComplete)="onFeedbackComplete()"
  ></app-feedback-form>
</div>
